<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    <!-- Attach CSS Files -->
    <link rel="stylesheet" href="../static/css/login/style.css" />
    <link rel="stylesheet" href="../static/css/login/fonts.css">
</head>
<body>
    <div class="container">
        <div class="form">
            <form action="#" method="" class="loginForm">
                <h1 class="heading">LOGIN</h1>

                <div class="input_fields">
                    <div class="input wrapper">
                        <p>Username</p>
                        <div class="field username">
                            <input type="text" class="inputs">
                            <img src="/static/images/login page/user.png" alt="user" class="icons">
                        </div>
                    </div>
                    
                    <div class="input wrapper">
                        <p>Email</p>
                        <div class="field email">
                            <input type="text" class="inputs">
                            <img src="/static/images/login page/mail.png" alt="email" class="icons">
                        </div>
                    </div>                    

                    <div class="input wrapper">
                         <p>Password</p>
                        <div class="field password">
                        
                            <input type="text" class="inputs">
                            <img src="/static/images/login page/hide.png" alt="hide" class="icons hide">
                        </div>
                    </div>
                   
                    
                </div>

                <button type="submit" class="submit">Login</button>

                <div class="tags">
                    <p>Don't have an account yet ?</p>
                    <a href="#">SIGN UP</a>
                </div>
                
            </form>

        </div>
    </div>

    <script src="/static/js/login/script.js"></script>
</body>
</html>